header{
color:white;
background-image: url("img/design1_image1.jpg");
height: 200px;
background-repeat: no-repeat;
background-size: cover;

}
#logo{
  position: absolute;
  top:31%;
  right: 2%;
  width: 100px;
  height: 100px;
}
.subheader{
  text-align: center;
  color:white;
  background-color: black;
  /* margin:0; */
}
.subheader h1{
  margin:0;
  padding:9px 0;
}
.box-conteiner{
  overflow: hidden;
}
aside{
  float:left;
  width: 25%;
  min-width: 110px;
}
table{
  line-height: 30px;
  width: 100%;
}
td[rowspan="2"]{
  text-align: center;
}th{
  text-align: left;
}
table td,th{
  margin-left: 45px;
  padding: 10px;
}
input[type="text"],input[type="date"]{
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
form{
  line-height: 38px;
}
ul,ol{
  line-height: 34px;
}
nav a{
  opacity: 0.95;
  margin:auto;
  display: block;
  padding:10px;
  margin:12px;
  max-width: 120px;
  border-radius: 15px;

  text-align: center;
  text-decoration: none;
  background-color: #dad0f5;
}
section{
  float: left;
  width: 75%;

}

/* header{
    background-image: url("img/design1_image1.jpg");
    background-size: auto;

    height: 200px;
}

#h1About{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
}

section{
    float: left;
    align-items: stretch;

}

.vertical-menu{
    width: 200px;
}

.vertical-menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
}

#leftaside{
    float: left;
}

#box-conteiner{
    display: flex;
    flex-direction: row;
}

#logo{
  position: absolute;
  top:26%;
  right: 2%;
  width: 100px;
  height: 100px;
}

dt{
    margin-bottom: 5px;
    }
dd{
    margin-bottom: 5px;
} */
